.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    /* align-items: stretch; */
}

.card {
    width: 18rem;
    text-align: center;
    margin: 10px 0;
    /* display: flex;
    justify-content: center; */
}

.card-title {
    text-transform: capitalize;
}

.card img {
    padding: 15px;
    width: 14rem;
    margin: auto;
}

.card-text {
    display: flex;
    justify-content: space-evenly;
}

.fa-ruler-vertical,
.fa-weight {
    height: 20px;

}
